@model IEnumerable<TARge21Shop.Models.Spaceship.SpaceshipListViewModel>

@{
    int rowNumber = 0;
}

<div class="h1">
    Products
</div>

<div>
    <a asp-action="create" asp-controller="spaceship" type="submit" class="btn btn-primary">Create</a>
</div>

<form method="post" class="m-1">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Name</th>
                <th scope="col">Model Type</th>
                <th scope="col">Passengers</th>
                <th scope="col">Build Of Date</th>
                <th scope="col">Maiden Launch</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var spaceship in Model)
            {
                rowNumber++;

                <tr>
                    <th scope="row">@rowNumber</th>
                    <td class="">@spaceship.Name</td>
                    <td class="">@spaceship.ModelType</td>
                    <td class="">@spaceship.Passengers</td>
                    <td class="">@spaceship.BuildOfDate</td>
                    <td class="">@spaceship.LaunchDate</td>
                    <td class="">
                        <a asp-action="update" asp-controller="spaceship" asp-route-id="@spaceship.Id" class="btn btn-primary">Update</a>
                        <a asp-action="delete" asp-controller="spaceship" asp-route-id="@spaceship.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>